.git
.gitignore
.env
.env.*
vendor
node_modules
npm-debug.log
yarn-error.log

database/database.sqlite

storage/logs/*.log
storage/app/private/documents

docker-compose.yml
compose.yaml

README.md
phpunit.xml
tests